/*

My Custom CSS
=============

Author:  Rajdeep Hussey
Updated: September 2017
Notes:	 Hand coded for Practice

*/


/* --------------------------------------
   Google fornt
   -------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arvo|Baloo+Tammudu|Indie+Flower|Libre+Baskerville|Quicksand|Sedgwick+Ave+Display');
/* --------------------------------------
   well
   -------------------------------------- */
   .well {
    margin: 5px 0px;
    text-align: center;
}

.page-header h1{

    font-family: 'Baloo Tammudu', cursive;
}
 .lead
 { font-family: 'Libre Baskerville', cursive; }

/*----------------------------------------
  Logo icon
  -----------------------------------------  */
.navbar-brand {
    text-shadow: -2px -1px 4px #e60c0c;
}
.myLogo1{padding: 0px;
font-family: 'Quicksand', sans-serif;
}
.myLogo2 {
    padding: 0px;
    font-family: 'Sedgwick Ave Display', cursive;
    margin: 0px 0px 0px -2px;
    font-size: 24px;
}
.myLogo
{margin-top: 5px;
margin-right: 20px}
a:hover, a:focus {
    color: #e20c51;
    text-decoration: none;
    cursor: pointer;
    width: 70px
    height 70px;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput{
      width: 200px;
   }
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel {margin-top: 60px;}
#myCarousel .item { 
height: 400px }
.carousel-caption{
   font-size: 30px;
   color:#ec0f0f;
   text-shadow: 2px 2px 3px #091ae2;
}
.carousel-caption h4{
   font-size: 40px;
}
#slide1 {
   background: url('../../images/carousel_large_01.jpg') top center no-repeat;
}

#slide2 {
   background: url('../../images/carousel_large_02.jpg') top center no-repeat;
}

#slide3 {
   background: url('../../images/carousel_large_03.png') top center no-repeat;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
/*----------------------------------------
 feature setion design 
 ----------------------------------------- */
 #features
{text-align: center;}
img.img-circle {
    margin: -9px 0px 15px 0px;}
#smartphone
{ text-align: center;
 }
 #smartTV
{ text-align: center;
 }
 #musicSystem
{ text-align: center;
 }
#other
{ text-align: center;
 }
ul.nav.nav-tabs {
    margin-bottom: 10px;
}

.feature img
{  width: 70%;
height: 80%;}
.smartphone img
{  width: 70%;
height: 80%;}
.smartTV img
{  width: 70%;
height: 80%;}
.musicSystem img
{  width: 70%;
height: 80%;}
.other img
{  width: 70%;
height: 80%;}
/* --------------------------------------
   footer
   -------------------------------------- */

.footer li{
  display: inline;
}
.footer h5
{ margin-top: 10px;
  display: inline;
font-family: Arvo;
color: black;}
.icon img
{width:25px;
  height:25px;}
.icon
{float: right;}
.footer{
  border:1px solid black;
  height: 10%;
  border-radius: 5px;
  background: #256edc;
}
.footer ul{ height:40px; }